* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 62px;
  color: blue;
  text-align: center;
  background-color: red;
  border: 1px solid green;
  margin-bottom: 30px;
  margin-top: 30px;
}

p{
  text-align: center;
}
